@import "../style/global_colors.scss";
.Boat {
    background-color: rgba(200, 200, 200, 0);
    z-index: 5;
    animation-name: boatAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    .boatBG {
        position: absolute;
        height: 220%;
        z-index: 5;
        bottom: 40%;
    }
    .char {
        position: absolute;
        height: 220%;
        z-index: 5;
        bottom: 40%;
    }
}

@keyframes boatAnim {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
    0% {
        bottom: 0%;
    }
    100% {
        bottom: -2%;
    }
}