@import "../style/global_colors.scss";
.interface {
    display: flex;
    flex-direction: row;
    background-color: $interface-background-color;
    padding-bottom: 16px;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 10px;
    z-index: 200;
    .interfaceLeft {
        width: 90%;
        padding-right: 16px;
        .inputWrapper {
            order: 1;
            width: 100%;
            height: 30%;
            margin-bottom: 16px;
            .ant-input-group-wrapper {
                height: 100%;
                .ant-input-group {
                    height: 100%;
                    .ant-input-affix-wrapper {
                        height: 100%;
                        .ant-input {
                            font-size: 24px;
                            height: 100%;
                            background-image: url(../style/assets/UI_TEXTENTRY.svg);
                        }
                    }
                }
            }
        }
        .historyWrapper {
            order: 2;
            width: 100%;
            height: 63%;
            display: flex;
            flex-direction: column;
            background: rgba(256, 256, 256, 0.2);
            overflow-y: scroll;
            background-image: url(../style/assets/UI_LOG.svg);
            .history {
                display: flex;
                flex-direction: row;
                width: 100%;
                color: white;
                background: rgba(256, 256, 256, 0.5);
                margin-top: 1%;
                min-height: 60px;
                justify-content: flex-start;
                align-items: center;
                padding-left: 2%;
                font-size: 24px;
                transition: all 0.3s;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                transition-delay: 0s;
            }
            .history.first {}
            .history.second {
                opacity: 0.5;
            }
            .history.third {
                opacity: 0.25;
            }
        }
    }
    .interfaceRight {
        width: 9%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ant-btn {
            span {
                color: black;
            }
        }
    }
}