@import "../style/global_colors.scss";
.interface {
    display: flex;
    flex-direction: row;
    background-color: #838796;
    padding-bottom: 16px;
    border: 6 px solid #9B9DAD;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 10px;
    z-index: 200;
    .interfaceLeft {
        width: 90%;
        padding-right: 16px;
        .inputWrapper {
            order: 1;
            width: 100%;
            height: 30%;
            margin-bottom: 16px;
            .ant-input-affix-wrapper {
                height: 100%;
                padding: 5px;
                background-color: #D3BF8F;
                border-radius: 6px;
                .ant-input {
                    font-size: 24px;
                    border: 6px solid #97714A;
                    height: 100%;
                    background-color: #D3BF8F;
                    border-radius: 6px;
                }
                .ant-input::placeholder {
                    color: rgba(0, 0, 0, 0.5)
                }
            }
        }
        .historyWrapperOuter {
            background-color: #ECE3CE;
            order: 2;
            width: 100%;
            height: 63%;
            display: flex;
            flex-direction: column;
            background: rgba(256, 256, 256, 0.2);
            border-radius: 6px;
            background-color: #ECE3CE;
            padding: 5px;
            .historyWrapper {
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                border-radius: 6px;
                background-color: #ECE3CE;
                border: 6px solid #D3BF8F;
                .history {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    color: rgba(50, 50, 50, 1);
                    min-height: 50px;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 2%;
                    font-size: 28px;
                    transition: all 0.3s;
                    transition-property: all;
                    transition-duration: 0.3s;
                    transition-timing-function: ease;
                    transition-delay: 0s;
                    opacity: 0.75;
                }
            }
        }
    }
    .interfaceRight {
        width: 9%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ant-btn {
            flex-grow: 1;
            margin-top: 5px;
            margin-bottom: 5px;
            span {
                color: black;
            }
        }
    }
}