@import "../style/global_colors.scss";
.Island {
    @keyframes islandLeave {
        0% {
            right: 60px;
        }
        100% {
            right: 2000px;
        }
    }
    @keyframes islandEnters {
        0% {
            right: -1000px;
        }
        100% {
            right: 60px;
        }
    }
    background-color: rgba(200, 200, 200, 0);
    .islandBG {
        height: 90%;
        z-index: 4;
        margin-top: 12%;
        max-height: 60%;
        margin-left: 20%;
        position: absolute;
    }
    .islandBG.enter {
        animation-name: islandEnters;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    .islandBG.leave {
        animation-name: islandLeave;
        animation-duration: 8s;
        animation-iteration-count: 1;
        animation-direction: linear;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-play-state: pause;
    }
}