@import "../style/global_colors.scss";
.Ocean {
    z-index: 100;
    .water {
        background: linear-gradient(180deg, #44C7F5 0%, #02ACF1 100%);
        height: 30%;
        margin-top: auto;
    }
    .oceanParticles {}
}