@import "../style/global_colors.scss";
.Sky {
    .nightSky {
        z-index: 1;
        background: linear-gradient(#312f3e, #5378a0);
    }
    .daySky {
        z-index: 1;
        background: linear-gradient(#7ca6c2, #7c97bf);
    }
}