@import "./global_colors.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400,500,700,900");
html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: $main_background;
    height: 100%;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    #root {
        height: 100%
    }
}

span {
    color: white;
}