@import "../style/global_colors.scss";
.HomePage {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    .gameView {
        background-color: $ocean-background-color;
        flex-grow: 2;
    }
}